<div class="container">
  <ul class="nav nav-pills nav-fill justify-content-center">
    <li class="nav-item">
      <a class="nav-link" [routerLink]="['/']" routerLinkActive="active"
      aria-current="page"  [routerLinkActiveOptions]= "{exact: true}">Active</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" [routerLink]="['/professoresGp']" routerLinkActive="active"
      aria-current="page"  [routerLinkActiveOptions]= "{exact: true}">Professores GP</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" [routerLink]="['/professores']"  routerLinkActive="active" >Professores</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" [routerLink]="['formularios/reativo-form']"  routerLinkActive="active" >Formularios</a>
    </li>
    <li class="nav-item">
      <a class="nav-link disabled">Disabled</a>
    </li>
  </ul>
  <router-outlet></router-outlet>  <!-- para o angular saber qual parte será subistituida/Acrescentar-->
</div>

<!-- <h1>Component Root</h1>
<p>{{title}}</p> Interpulação entre {{}} -->
<!-- <p style="{{corFundo }}">{{empresa}}</p>  Interpulação entre {{}} -->
<!-- <p [style]="corFundo">{{empresa}}</p>  Property Binding  entre [] pega o valor da propriedade da variável -->
<!-- <p>
  <button (click)="clicar()" class="btn btn-primary">Clique Aqui</button> -->
  <!-- Event Binding ( HTML -> TS ) ----- (evento)="metodo"-->
<!-- </p>
<p>
  <input type="text" [value]="empresa"> -->
  <!-- Property Binding  entre [] pega o valor da propriedade da variável -->
<!-- </p>
<p>
  <input type="text" [value]="empresa" (keyup)="getTextoDigitado(empresaInput)" #empresaInput > -->
   <!-- Event Binding ( HTML -> TS ) ----- (evento)="metodo" o # indica um id para esse input-->
<!-- </p>
<p>
  <input type="text"[(ngModel)]="empresa"> -->
  <!--  2 way Databinding, faz as 2 rotas, do HTML -> TS && TS ->HTML -->
<!-- </p>
<app-listar [empresaFilho] = 'empresa'></app-listar> -->
 <!-- A variavel do componente FILHO([empresaFilho]) vai receber
a variavel do component PAI (empresa) -->

 <!-- sistema de grid / colunas com div-->
<!-- <div class="row" style="background-color: gray;">
  <div class="col-6">
    <input class="form-control" type="text">
  </div>
  <div class="col-3">
    <input class="form-control" type="text">
  </div>
  <div class="col-3">
    <input class="form-check-input mt-0" type="checkbox" value="" aria-label="Checkbox for following text input">
  </div>
</div> -->
